[Unit]
Description=Pi Robot
After=network.target
Requires=network.target

[Service]
TimeoutStartSec=0
Restart=always
Environment=DEBUG=server:*
ExecStart=/home/pi/.nvm/versions/node/v10.20.1/bin/node /home/pi/projects/pi/server/bin/www

[Install]
WantedBy=multi-user.target
